body{
  background-image: linear-gradient(180deg, rgb(179, 53, 179), red, orange); 
  margin-top: 1rem;
}
.profilecontainer div{
  height: 100vh;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
input{
  margin-left: 5rem;
  width: 73rem;
  height: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-style: italic;
}

li{
  background-color:white;
  list-style-type: none;
  padding-left: 7rem;
  margin-bottom: 1rem;
}
img {
  width: 50;
  position: relative;
  top: -5rem;
  left: -5rem;
  
}